.fade {
  background-color: #000;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal {
  position: absolute;
  top: 10%;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 30rem;
  height: 25rem;
  z-index: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.modal h2 {
  margin-bottom: 1rem;
}

.modal form {
  width: 90%;
}
