.form {
  display: flex;
  flex-direction: column;
  max-width: 23rem;
  margin: 0 auto;
}

.form label {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: bold;
}

.form input {
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
  border-radius: 0;
  border: 1px solid #282c34;
}

.form input[type="submit"] {
  font-weight: bold;
  background-color: #61dafb;
  border: 1px solid #61dafb;
  color: #000;
  transition: 0.5s;
  cursor: pointer;
}

.form input[type="submit"]:hover {
  background-color: #fff;
  border: 1px solid #282c34;
}
